body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 5px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

#increment-btn {
    background: darkred;
    box-shadow: 0px 0px 3px black;
}

#save-btn {
    background: darkgreen;
}